#######################################################################
#     Diese .htaccess wurde vom STRATO-Webservermanager erstellt      #
#######################################################################
<Files ~ "\.(tpl|sqlite)$"> 
 order deny,allow 
 deny from all 
</Files>

DirectoryIndex home.php


RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# make sure rewrite target actually exists as a file or directory
RewriteCond eu%{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond eu%{DOCUMENT_ROOT}%{REQUEST_URI} -d [OR]
RewriteCond na%{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond na%{DOCUMENT_ROOT}%{REQUEST_URI} -d [OR]

RewriteRule . home.php [L]





